<!DOCTYPE html>
<html>

<head>
    <title>Pusher Test</title>
    <script src="https://js.pusher.com/4.4/pusher.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <style>
        .results {
            float: left
        }

        .searchresult {
            float: right;
            margin: 5px;
        }

        .searchbox {
            height: 30px;
        }

        .searchbutton {
            height: 30px;
        }

        .searchresult::after {
            content: "";
            clear: both;
            display: table;
        }

        .thumbnail-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .searchresult {
            position: relative;
            display: inline-block;
        }

        .searchresult .title-tooltip {
            visibility: hidden;
            position: absolute;
            width: 120px;
            background-color: #555;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            z-index: 1;
            opacity: 0;
            transition: opacity 0.3s;
            top: 135%;
            left: 50%;
            margin-left: -60px;
        }

        .searchresult .title-tooltip::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #555 transparent;
        }

        .searchresult:hover .title-tooltip {
            visibility: visible;
            opacity: 1;
        }

        #player {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <h1>Watch Together</h1>
    <input type="text" class="searchbox">
    <button onclick="search()" class="searchbutton">Search</button>
    <br>
    <div id="player"></div>

    <div class="results">

    </div>
    <script>
        $(".searchbox:first").on("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                search();
            }
        })

        function search() {
            $.get("/search?query=" + $(".searchbox")[0].value, function (data) {
                $(".results").html(data);
            });
        }

        function loadvideo(id) {
            $.get("/alert/loadvideo?origin={{clientID }}&videoid=" + id, function (data) {
                play(0);
            });
            player.loadVideoById(id);
        }
    </script>
    <script>
        var latest = 0;

        // Enable pusher logging - don't include this in production
        // Pusher.logToConsole = true;

        var pusher = new Pusher('764dea3cf1ca308e6aa0', {
            cluster: 'eu',
            forceTLS: true,
            authEndpoint: '/pusher/auth'
        });

        var channel = pusher.subscribe('my-channel');
        channel.bind('alert', function (data) {
            if (data["origin"] === "{{ clientID }}")
            {
                return;
            }
            
            latest = data['action'] == "play" ? 1 : 2;
            var s = player.getVideoUrl().indexOf("v=") + 2;
            if (player.getVideoUrl().indexOf("&", s) == -1) {
                if (player.getVideoUrl().slice(s) != data['videoid'])
                    player.loadVideoById(data['videoid']);
            } else {
                if (player.getVideoUrl().slice(s, player.getVideoUrl().indexOf('&', s)) != data['videoid'])
                    player.loadVideoById(data['videoid']);
            }
            switch (data['action']) {
                case "play":
                    playVideo(data["time"]);
                    break;

                case "pause":
                    pauseVideo(data["time"]);
                    break;
            }
        });

        function play(time) {
            $.get("/alert/play?origin={{ clientID }}&time=" + Math.floor(time));
        }

        function pause(time) {
            $.get("/alert/pause?origin={{ clientID }}&time=" + Math.floor(time));
        }

        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: '{{ videoid }}',
                playerVars: {
                    {% if currentlyPlaying %}
                    autoplay: 1,
                    {% endif %}
                    start: {{currentTime}}
                },
                events: {
                    onStateChange: onPlayerStateChange,
                    onReady: function (e) {
                        e.target.mute();
                    }
                }
            });
        }
        onPlayerStateChange = function(event) {
            var funcs = [play, pause];
            
            if (event.data == YT.PlayerState.PLAYING || event.data == YT.PlayerState.PAUSED) {
                if (latest == event.data)
                    return;
                funcs[event.data - 1](player.getCurrentTime())
                latest = player.getPlayerState();
            }
        }

        function pauseVideo(time) {
            player.seekTo(time, true);
            player.pauseVideo();
        }

        function playVideo(time) {
            player.seekTo(time, true);
            player.playVideo();
        }
    </script>
</body>

</html>