
      <div class="searchresult" onclick="loadvideo('{{ videoid }}')">
        <div class="thumbnail">
          <img class="thumbnail-img" src="{{ thumbnail }}">
        </div>
        <div class="title">{{ videoName }}
        </div>
        <span class="title-tooltip">{{ videoNameFull }}</span>
      </div>